<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录博客</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div id="midbody">
    <div id="midbody_center">
        <div class="midbody_login">
            <div class="midbody_top">
                <span style="letter-spacing: 10px">登录</span>
            </div>
            <div class="midbody_form">
                <form action="/login" method="post">
                    <div class="form-group" style="margin-bottom: 25px;">
                        <div style="position: relative;">
                            <i style="position: absolute;">
                                <svg style="margin-left: 6px;margin-top: 7px;" t="1589459323006" class="icon"
                                     viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     p-id="9201" width="28" height="28">
                                    <path d="M512 99.4c-122.1 0-221.4 99.3-221.4 221.4 0 38.2 9.9 75.8 28.5 108.8 5.1 9 16.6 12.2 25.6 7.1s12.2-16.6 7.1-25.6c-15.5-27.4-23.7-58.6-23.7-90.3C328.1 219.5 410.6 137 512 137s183.9 82.5 183.9 183.9S613.4 504.7 512 504.7c-221.1 0-401 179.9-401 401.1 0 10.4 8.4 18.8 18.8 18.8s18.8-8.4 18.8-18.8c0-200.4 163.1-363.5 363.5-363.5 122.1 0 221.4-99.3 221.4-221.4S634.1 99.4 512 99.4zM706 554.7c-9.1-5-20.5-1.7-25.5 7.3-5 9.1-1.7 20.5 7.3 25.5 115.8 64.1 187.7 186 187.7 318.2 0 10.4 8.4 18.8 18.8 18.8s18.8-8.4 18.8-18.8c-0.1-145.8-79.4-280.3-207.1-351z"
                                          fill="#515151" p-id="9202"></path>
                                </svg>
                            </i>
                            <input type="text" class="form-control" name="name" placeholder="请输入账号"
                                   style="height: 45px;padding-left: 40px;">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 25px;">
                        <div style="position: relative;">
                            <i style="position: absolute;">
                                <svg style="margin-left: 5px;margin-top: 6px;" t="1589459484663" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                     xmlns="http://www.w3.org/2000/svg" p-id="12309" width="32" height="32">
                                    <path d="M763.168 460.032C755.648 452.544 752.224 448 742.4 448L704 448l0-75.2c0-106.048-85.952-192-192-192s-192 85.952-192 192L320 448 281.6 448c-9.824 0-13.248 4.544-20.768 12.032C253.344 467.552 256 478.176 256 488l0 307.2c0 9.824-2.656 18.848 4.832 26.368C268.352 829.056 271.776 832 281.6 832l460.8 0c9.824 0 13.248-2.944 20.768-10.432C770.656 814.048 768 805.024 768 795.2l0-307.2C768 478.176 770.656 467.552 763.168 460.032zM352 372.8c0-84.832 75.168-153.6 160-153.6s160 68.768 160 153.6L672 448 352 448 352 372.8zM736 776c0 4.928 1.312 12.224-2.432 15.968C729.824 795.712 728.128 800 723.2 800L300.8 800c-4.928 0-6.624-4.288-10.368-8.032C286.688 788.224 288 780.928 288 776l0-268.8c0-4.928-1.312-13.824 2.432-17.568C294.176 485.888 295.872 480 300.8 480l422.4 0c4.928 0 6.624 5.888 10.368 9.632C737.312 493.376 736 502.272 736 507.2L736 776z"
                                          p-id="12310" fill="#515151"></path>
                                    <path d="M550.4 640l-76.8 0c-10.624 0-19.2 5.376-19.2 16s8.576 16 19.2 16l76.8 0c10.624 0 19.2-5.376 19.2-16S561.024 640 550.4 640z"
                                          p-id="12311" fill="#515151"></path>
                                </svg>
                            </i>
                            <input type="password" class="form-control" name="password" placeholder="请输入密码"
                                   style="height: 45px;padding-left: 40px;">
                        </div>
                    </div>
                    <input type="submit" class="btn-primary btn-lg btn-block"
                            style="height: 40px;line-height: 22px;background-color: #0082f0;border: none" value="登录"/>
                </form>
                <div class="midbody_right">
                    <a href="##" class="right_a">忘记密码</a>
                </div>
            </div>
            <div class="center">
                <h3>第三方账号登录</h3>
            </div>
            <div class="midbody_bottom">
                <a href="https://github.com/login/oauth/authorize?client_id=853b30b562f5685f5390&redirect_uri=http://localhost/callback&scope=user&state=1">
                    <i class="user-icon"></i>
                    <span class="text">github</span>
                </a>
            </div>
        </div>
    </div>
    <div class="go-reg">
        还没有账号？
        <a href="##">立即注册</a>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>