<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>City Blog - 发布</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .reset {
            position: absolute;
            right: 15px;
            bottom: 10px;
        }
    </style>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body style="background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) no-repeat fixed;">
<div th:insert="~{navigation :: nav}"></div>
<div class="container" style="background-color:#dfe6e9; padding-bottom: 20px;border-radius: 3px;">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="border-right: 1px solid #8c8c8c;">
            <div style="width: 100%;height: 60px; margin-bottom: 20px; border-bottom: 1px solid #0f0f0f;"><h2><span
                    class="glyphicon glyphicon-edit" aria-hidden="true"></span>&ensp;发起</h2></div>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" th:value="${title}" class="form-control" name="title" id="title"
                           placeholder="问题标题..">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填，请参照右侧提醒):</label>
                    <div style="position: relative;">
                        <textarea class="form-control" th:text="${description}" name="description" id="description"
                                  placeholder="请输入你的问题..."
                                  rows="15" style="resize: none;"></textarea>
                        <div class="reset"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" th:value="${tag}" class="form-control" name="tag" id="tag"
                           placeholder="输入标签以，隔开">
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 alert alert-danger" th:if="${error!=null}"
                             th:text="${error}" role="alert"></div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${error==null}"></div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                            <button type="submit" class="btn btn-success" style="margin-left: 50%;margin-top: 7px">发布
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <br/><br/><br/>
            <h2>问题发起指南</h2>
            <h5>• 问题标题:请用精简的语言描述您发布的问题,不超过25字</h5><br/>
            <h5>• 问题补充:详细补充您的问题内容,并确保问题描述清晰直观,并提供一些相关的资料</h5><br/>
            <h5>• 择标签:选择一个或者多个合适的标签,用标签不超过10个字</h5><br/>
        </div>
    </div>
</div>
<script>
    $(".reset").click(function () {
        $("#problem").val("");
    })
</script>
</body>
</html>